.container {
    border-radius: none;

    background-color: #efcd8e;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.container > div {
    flex: 1;

    margin: 3%;
    padding: 3%;
}
.container > div .waffle {
    flex: 1;

    margin: 3%;
    padding: 3%;
    border-radius: 5px;

    background-color: #ffdd9d;
}
.container > div .butter {
    flex: 0 0 40%;
    max-width: 40%;

    margin: auto;
    padding: 3%;
    border-radius: 5px;

    background-color: #ffe863;
}
.header {
    background-color: #efcd8e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > div {
    flex: 1;

    max-width: fit-content;
    max-height: fit-content;
    min-width: auto;

    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;

    border-radius: 10px;
    background-color: #ffdd9d;
}