.container {
    border-radius: none;
    justify-content: center;

    background-color: #efcd8e;

    display:flex;
}
.container div {
    min-width: fit-content;
    max-width: auto;

    margin: 3%;
    padding: 3%;
    border-radius: 10px;

    background-color: #ffdd9d;
}