.container {
    border-radius: none;

    background-color: #efcd8e;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container div {
    flex: 1;

    margin: 3%;
    padding: 3%;
    border-radius: 10px;

    background-color: #ffdd9d;
}