.container {
    border-radius: none;

    background-color: #efcd8e;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    max-width: none;
    width: 100%;
}
.container > div {
    display: flex;
    flex: 1;
    min-width: auto;
    max-width: auto;

    margin: 3%;
    padding: 3%;
}
.container > div .waffle {
    flex: 1;
    min-width: auto;
    max-width: auto;

    margin: 3%;
    padding: 3%;
    border-radius: 5px;

    background-color: #ffdd9d;

    aspect-ratio: 4 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container > div .butter {
    flex: 0 0 40%;
    max-width: 40%;

    margin: auto;
    padding: 3%;
    border-radius: 5px;

    background-color: #ffe863;
}