body {
    padding: 10%;

    background-color: #EFCD8E;

    text-align: center;
    font-family: "Sour Gummy", sans-serif;
}
header {
    max-width: fit-content;
    max-height: max-content;

    margin-left: auto;
    margin-right: auto;
    padding: 5%;

    border-radius: 8px;
    background-color: #ddb56a;

    font-family: "Noto Serif", serif;
}
footer {
    max-width: fit-content;
    max-height: fit-content;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1000px;
    padding: 5%;
    
    border-radius: 8px;
    background-color: #ddb56a;
}
