body {
    margin-left:30%;
    margin-right:30%;
    margin-bottom: 800px;
    text-align: justify;
    text-indent: 5%;

    font-family: "Kalam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background: #ffe590;
    color: #7c4200;
}

footer {
    text-align: center;
    text-indent: 0%;
}

img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: auto;
    text-indent: 0%;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: rgb(54, 26, 0);
    text-indent: 0%;
}
button {
    font-family: "Kalam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: #be950e;
    color: white;
    text-align:center;
    border-radius: 8px;
}

.subheading {
    text-align:center;
    font-family: monospace;
    color:#7c5829;
    text-indent: 0%;
}

.divider {
    text-align:center;
    font-family: monospace;
    color: black;
    text-indent: 0%;
}

.link {
    font-family: "Kalam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4292c7;
}
.link:hover {
    cursor:pointer;
    border: 2px solid black;
}

.wafflStack {
    text-align: center;
    text-indent: 0%;

    font-family: "Kalam", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: #a85a00;
}