body {
    padding: 5%;

    background-color: #d8b573;

    font-family: "Sour Gummy", sans-serif;
}
.main {
    margin: auto;
    padding: 5%;

    border-radius: 20px;
    background-color: #efcd8e; 

    justify-content: center;
    text-align: center;
    font-size: medium;
}
header {
    font-size: large;
}
.header {
    max-width: fit-content;
    max-height: fit-content;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

    border-radius: 10px;
    background-color: #ffdd9d;
}
.container {
    max-width: fit-content;
    max-height: fit-content;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    
    border-radius: 10px;
    background-color: #ffdd9d;
}
footer {
    font-size: small;
}
.footer {
    max-width: fit-content;
    max-height: fit-content;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1000px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    
    border-radius: 10px;
    background-color: #ffdd9d;
}
